{% extends 'base.html' %}
{% block link %}
{% endblock link %}
{% block title %}
    Sign Up.
{% endblock title %}
{% block body %}
<section class="login">
    <h1 class="h1">Login.</h1>
    <div class="form">
        <form action="" method="post">
        {% csrf_token %}
            <h2 for="loginusername">Enter Your Name.</h2>
            <input type="text" name="loginusername" id="loginusername" placeholder="Enter Your Name.">
            <h2 for="loginpassword">Enter Your Password.</h2>
            <input type="password" name="loginpassword" id="loginpassword" placeholder="Enter Your Password.">
            <button type="submit" value="submit" class="button"> Login </button>
        </form>
    </div>
</section>
{% endblock body %}