{% extends 'base.html' %}
{% block link %}
{% endblock link %}
{% block title %}
    Services
{% endblock title %}
{% block body %}
<section class="services">
    <h1 class="h1">
        Our Best Pricing.
    </h1>
    <div class="top">
        <div class="div1">
            <h2>
                Startup 
            </h2>
            <p>
                We Know You have Very Low Budjut At This Time
                So, We Offer You Best Price For Your WebSite
                Our Startup Pricing Starts From 3,000Rs To 
                7,000Rs
            </p>
        </div>
        <div class="div1">
            <h2>
                Growing 
            </h2>
            <p>
                We Know You have Some Money To Invest On Your Busnus
                So, According To Your Budjut We Give You The Best Pricing
                Our Growing Pricing Starts From 10,000Rs To 17,000Rs
            </p>
        </div>
        <div class="div1">
            <h2>
                Big Busnus 
            </h2>
            <p>
                We Know You Don't Have Any Budjut Problem Now But Also Know That
                You Do Not Want To Waste Your Money So We Promiss You We Don't 
                Waste Your Money Our Big Busnus Pricing Starts From 20,000Rs To
                37,000Rs
            </p>
        </div>
    </div>
</section>
{% endblock body %}